#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "helpers/34_key_labels.h"

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH1 LH0 RH0 RH1

#define DEF 0
#define NUM 1
#define SYM 2
#define GAME 3
#define FN 4
#define ADJ 5

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt {
  quick-tap-ms = <200>;
};

/ {
  behaviors {
    // https://zmk.dev/docs/behaviors/hold-tap#option-2-tap-preferred
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";

    combo_esc {
      key-positions = <LT2 LT3>;
      bindings = <&kp ESC>;
    };

    combo_backspace {
      key-positions = <LM3 LM2>;
      bindings = <&kp BACKSPACE>;
    };

    combo_tab {
      key-positions = <LM2 LM1>;
      bindings = <&kp TAB>;
    };

    combo_less_than {
      key-positions = <RM1 RM2>;
      bindings = <&kp LESS_THAN>;
    };

    combo_greater_than {
      key-positions = <RM2 RM3>;
      bindings = <&kp GREATER_THAN>;
    };

    combo_enter {
      key-positions = <LB2 LB1>;
      bindings = <&kp ENTER>;
    };

    combo_single_quote {
      key-positions = <RB0 RB1>;
      bindings = <&kp SINGLE_QUOTE>;
    };

    combo_underscore {
      key-positions = <RB1 RB2>;
      bindings = <&kp UNDERSCORE>;
    };

    combo_toggle_game {
      key-positions = <RT4 RB4>;
      bindings = <&tog GAME>;
      layers = <DEF GAME>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Default";
      bindings = <
        &kp Q        &kp W      &kp E     &kp R      &kp T            &kp Y          &kp U       &kp I         &kp O         &kp P
        &hm LSHFT A  &kp S      &kp D     &kp F      &hm RALT G       &kp H          &kp J       &kp K         &kp L         &hm RSHFT SEMI
        &hm LCTRL Z  &kp X      &kp C     &kp V      &kp B            &kp N          &kp M       &kp COMMA     &kp DOT       &hm RCTRL FSLH
                                          &kp LGUI   &lt SYM SPACE    &lt NUM ENTER  &kp BSPC
      >;
    };

    num_layer {
      display-name = "Num/Nav";
      bindings = <
        &kp N1       &kp N2     &kp N3    &kp N4     &kp N5           &kp N6         &kp N7        &kp N8        &kp N9        &kp N0
        &kp F1       &kp F2     &kp F3    &kp F4     &kp F5           &kp LEFT       &kp DOWN      &kp UP        &kp RIGHT     &kp C_BRI_UP
        &kp F6       &kp F7     &kp F8    &kp F9     &kp F10          &kp HOME       &kp PG_DN     &kp PG_UP     &kp END       &kp C_BRI_DN
                                          &kp F11    &kp F12          &trans         &trans
      >;
    };

    sym_layer {
      display-name = "Symbols";
      bindings = <
        &kp EXCL     &kp AT     &kp LBRC  &kp RBRC   &kp PIPE         &kp LA(GRAVE)  &kp TILDE     &kp BSLH      &none         &none
        &kp HASH     &kp DLLR   &kp LPAR  &kp RPAR   &none            &kp PLUS       &kp MINUS     &kp FSLH      &kp STAR      &kp SQT
        &kp PRCNT    &kp CARET  &kp LBKT  &kp RBKT   &mo ADJ          &kp AMPS       &kp EQUAL     &none         &none         &none
                                          &trans     &trans           &kp COLON      &kp SEMI
      >;
    };

    game_layer {
      display-name = "Game";
      bindings = <
        &kp ESC      &kp Q      &kp W     &kp E      &kp R            &kp N1         &kp N2        &kp N3        &kp N4        &kp N5
        &kp LSHFT    &kp A      &kp S     &kp D      &kp F            &kp N6         &kp N7        &kp N8        &kp N9        &kp N0
        &kp LCTRL    &kp Z      &kp X     &kp C      &kp V            &none          &none         &none         &none         &none
                                          &mo FN     &kp SPACE        &kp ENTER      &kp BSPC
      >;
    };

    game_aux_layer {
      display-name = "Game Fn";
      bindings = <
        &trans       &trans     &trans    &trans     &trans            &kp F1         &kp F2        &kp F3        &kp F4        &kp F5
        &trans       &trans     &trans    &trans     &trans            &kp F6         &kp F7        &kp F8        &kp F9        &kp F10
        &trans       &trans     &trans    &trans     &trans            &kp F11        &kp F12       &kp F13       &kp F14       &kp F15
                                          &trans     &trans            &kp F16        &kp F17
      >;
    };

    adj_layer {
      display-name = "Adjust";
      bindings = <
        &none        &none      &none     &none      &out OUT_TOG     &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
        &none        &none      &none     &none      &none            &none          &none         &none         &none         &bt BT_CLR
        &none        &none      &none     &none      &none            &none          &none         &none         &none         &studio_unlock
                                          &none      &none            &none          &none
      >;
    };

    extra1 {
      status = "reserved";
    };

    extra2 {
      status = "reserved";
    };
  };
};
